div.ilTableHeaderTitle {
	padding-top: 0 !important;
}

form[name=xlpl_status_table] .ilTableOuter {
	 border: none !important;
}

#xlpl_status {
	background: none !important;
}

#xlpl_status .title_line td {
	padding: 30px 0 7px 0;
}

#xlpl_status tr:first-child > td {
	padding: 0px 0 7px 0 !important;
}

#xlpl_status .status_user {
	font-weight: bold;
}

#xlpl_status .status_last_login {
	float: right;
}

#xlpl_status .status_line {
	background: #d3d3d3;
}

#xlpl_status .status_list_entry {
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

#xlpl_status .status_list_entry.odd {
	background: #ededed;
}

#xlpl_status .status_list_entry img {
	padding: 0 5px 0 0;
}

#xlpl_status .status_list_entry.offline {
	/*background: #FFDFE1; */
	text-decoration: line-through;
}

.lookup_legend {
	margin-top: 10px;
}